#/usr/bin/env bash
# Installs GitLab CE

export GITLAB_VER_STRING=""
export GITLAB_VER_REGEX=${ gitlab_version }

apt-get update
apt-get install -y curl openssh-server ca-certificates gnupg apt-transport-https

curl -L https://packages.gitlab.com/gitlab/gitlab-ce/gpgkey | sudo apt-key add -

cat <<EOT >/etc/apt/sources.list.d/gitlab_gitlab-ce.list
deb https://packages.gitlab.com/gitlab/gitlab-ce/ubuntu/ $(awk 'BEGIN { FS = "="}; /^UBUNTU_CODENAME/ {print $2}' /etc/os-release) main
deb-src https://packages.gitlab.com/gitlab/gitlab-ce/ubuntu/ $(awk 'BEGIN { FS = "="}; /^UBUNTU_CODENAME/ {print $2}' /etc/os-release) main
EOT

apt-get update

if [ ! -z "$GITLAB_VER_REGEX" ]; then
    export GITLAB_VER_STRING=$(apt-cache madison gitlab-ce | grep "$GITLAB_VER_REGEX" | awk 'BEGIN {FS="|"}; {print $2}' | head -n 1 | tr -d " ")
    echo "==> GitLab version string selected '$GITLAB_VER_STRING'"
fi

if [ -z "$GITLAB_VER_STRING" ]; then
    apt-get install -y gitlab-ce
else
    apt-get install -y gitlab-ce=$${GITLAB_VER_STRING}
fi
